
<% if User.current.allowed_to?(:add_issue_watchers, @project) || 
    (watched.watcher_groups.present? && User.current.allowed_to?(:view_issue_watchers, @project)) %> 
  <div id="watcher_groups"> 
    <%= render(:partial => 'watcher_groups/watcher_groups', :locals => {:watched => watched}) %>
  </div>
<% end %>

